AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 01 Punk Rock Girl (Dead Milkmen Cover).m4a
.vscode/launch.json
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 02 Hallelujah (Leonard Cohen Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 03 Scavenger Type (NOFX Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 04 Going Away To College (Blink-182 Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 05 Math Class (Heather Hates You Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 06 Even Hitler Had A Girlfriend (Mr. T Experience Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 07 Don't Think Twice It's Alright (Bob Dylan Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 08 You (Bad Religion Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 09 Corazon De Oro (Rancid Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 10 The Impression That I Get (Mighty Mighty Bosstones Cover.m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 11 Olympia, WA (Rancid Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 12 Can't Help Falling In Love (Elvis Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 13 I and Love and You (Avett Brothers Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 14 Courtney (Nerf Herder Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 15 A Better Place, A Better Time (Streetlight Manifesto Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 16 Sunshine (Matt Costa Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 17 On The Radio (Regina Spektor Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 18 The Anchor (Stray Bullets Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 19 Say Yes (Elliott Smith).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 20 A Bird's Song (Ingrid Michaelson Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 21 Rocky Raccoon (Beatles Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 22 I Will Follow You Into The Dark (Death Cab For Cutie Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 23 Lua (Bright Eyes Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 24 Journey To The End of the East Bay (Rancid Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 25 Linger For A While (Dan Zanes Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 26 Science Fiction Double Feature (Rocky Horror Picture Show Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 27 Landlocked Blues (Bright Eyes Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 28 Little Boxes (Malvina Reynolds Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 29 Birds Sing (Refreshments Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 30 The Bends (Radiohead Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 31 A Satisfied Mind (Johnny Cash Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 32 Hindsight (Original).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 33 Adventure Time Theme Song (Adventure Time Theme Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 34 On and On and On (Streetlight Manifesto Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 35 Bad Scene, Everyone's Fault (Jawbreaker Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 36 13 Stitches (NOFX Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 37 Soulshine -ft. Chris Marks- (Allman Brothers Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 38 Pearl Harbor Sucked (Team America World Police Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 39 Santa Fe (Newsies Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 40 Come Sail Away (Styx Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 41 Sound System (Operation Ivy Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 42 Ghost of Corporate Future (Regina Spektor Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 43 Radio (Rancid Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 44 Have You Ever Seen The Rain (CCR Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 45 Know It All (Lagwagon Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 46 She's Automatic (Rancid Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 47 San Dimas High School Football Rules (The Ataris Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 48 First Day Of My Life (Bright Eyes Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 49 Oh, Boy! (Buddy Holly Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 50 Linoleum (NOFX Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 51 Anyone Can Play Guitar (Radiohead Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 52 The Big Sleep (Streetlight Manifesto Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 53 Lump (Presidents of the United States of America Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 54 Sloop John B (Beach Boys Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 55 No Surprises (Radiohead Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 56 I Don't Wanna Grow Up (Ramones Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 57 Hotel Yorba (White Stripes Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 58 Suspect Device (Stiff Little Fingers Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 59 Wonderwall (Oasis Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 60 When I Come Around (Green Day Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 61 Champs-Élysées (Joe Dassin Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 62 Don't Drag Me Down (Social Distortion Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 63 Don't Pray On Me (Bad Religion Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 64 Mr. Wilmington (Lucky Boys Confusion Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 65 The Ballad of Serenity (Firefly Theme Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 66 Anthem (Phantom Planet Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 67 Yellow Submarine (Beatles Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 68 Romeo And Juliet (Dire Straits Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 69 The Battle of Evermore (Led Zeppelin Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 70 The Underdog (Spoon Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 71 Just Like Heaven (The Cure Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 72 Heaven (Warrant Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 73 Two Suns In The Sunset (Pink Floyd Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 74 Ruby Soho (Rancid Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 75 Gummi Bears Theme Song (Gummi Bears Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 76 Basket Case (Green Day Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 77 Glycerine (Bush Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 78 Edelweiss (Sound Of Music Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 79 Can You Feel The Love Tonight (Lion King Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 80 I Want To Hold Your Hand (Beatles Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 81 Que Sera Sera (Doris Day Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 82 The Parting Glass (Traditional).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 83 Big Machine (Ryan Miller Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 84 Jacket (Nerf Herder Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 85 Somewhere In The Between (Streetlight Manifesto Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 86 Maxwell Murders (Rancid Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 87 The 11th Hour (Rancid Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 88 Roots Radicals (Rancid Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 89 Blister In The Sun (Violent Femmes).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 90 I Bet My Life (Imagine Dragons Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 91 Don't Look Back In Anger (Oasis Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 92 Littlest Birds (The Be Good Tanyas Covers).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 93 Salvation (Rancid Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 94 Long Time Gone (Tim O'Brien and Darrell Scott Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 95 New Orleans (Rancid Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 96 Skyscraper (Bad Religion Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 97 The Gates -ft. Kaitie Tardie- (Menzingers Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 98 Nobody Knows Me At All -ft. Kaitie Tardie- (The Weepies Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 99 All Alone (Hippos Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 100 Tail Lights (The Butler Pick Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 101 Avoiding Catatonic Surrender (Tim Barry Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 102 Beauty and the Beast (Beauty and the Beast Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 103 Still Alive (Jonathan Coulton Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 104 Vampires Are Poseurs (Song For The Living) (Pat The Bunny Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 105 The Gunner's Dream (Pink Floyd Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 106 What Would Brian Boitano Do- (South Park Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 107 Critical Hit (Ghost Mice Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 108 Ukulele Anthem (Amanda Palmer Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 109 Survival (AJJ Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 110 Rejoice (AJJ Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 111 From Here To Utopia (Song For The Desperate) (Pat The Bunny Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 112 Make Total Destroy (Pat The Bunny Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 113 For A Girl In Rhinelander, WI (Wingnut Dishwashers Union Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 114 I Want You To Want Me (Cheap Trick Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 115 A Skeptic's Love Song (Just Nick Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 116 A Moment Of Silence (Streetlight Manifesto Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 117 Knowledge (Operation Ivy Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 118 The Littlest Things (Streetlight Manifesto Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 119 Down Together (Refreshments Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 120 People ii - The Reckoning (AJJ Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 121 Fuck Shit Up! (Whanananananana) (Wingnut Dishwashers Union Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 122 Antennas (Rancid Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 123 Your Heart Is A Muscle The Size Of Your Fist (Pat The Bunny Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 124 Songs About Girls (Just Nick Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 125 Whiskey Is My Kind Of Lullaby (Johnny Hobo and the Freight Trains Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 126 Wildflowers (Tom Petty Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 127 Oi To The World (Vandals Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 128 Merry Christmas (I Don't Want To Fight Tonight) (Ramones Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 129 Road To Joy (Bright Eyes Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 130 Indestructible (Rancid Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 131 Interstate (Refreshments Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 132 Boxcar (Jawbreaker Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 133 I Still Believe (Frank Turner Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 134 Long Live The Queen (Frank Turner Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 135 Time After Time (Cyndi Lauper Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 136 Howl (Walter Mitty and His Makeshift Orchestra Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 137 Otterpops In The Icebox (Walter Mitty and His Makeshift Orchestra Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 138 I'm Going Home (Pat The Bunny Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 139 This Year (The Mountain Goats Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 140 Love, Ire, And Song (Frank Turner Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 141 Oh, Charlatan Me (Walter Mitty And His Makeshift Orchestra Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 142 The Obituaries (Menzingers Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 143 Baby Got Back (Sir Mix-A-Lot Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 144 Man Out Of Time (Original).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 145 Where Do We Go From Here (Brian Jipson & Adam Murphy).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 146 Bones (Original).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 147 Violins (Lagwagon Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 148 Blank Space (Taylor Swift Cover).m4a
AudioM4A/Brian Jipson - Inhale Courage-Exhale Fear - 149 Samson (Regina Spektor Cover).m4a
AudioM4A/cover.jpg
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 01 Punk Rock Girl (Dead Milkmen Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 02 Hallelujah (Leonard Cohen Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 03 Scavenger Type (NOFX Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 04 Going Away To College (Blink-182 Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 05 Math Class (Heather Hates You Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 06 Even Hitler Had A Girlfriend (Mr. T Experience Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 07 Don't Think Twice It's Alright (Bob Dylan Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 08 You (Bad Religion Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 09 Corazon De Oro (Rancid Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 10 The Impression That I Get (Mighty Mighty Bosstones Cover.mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 11 Olympia, WA (Rancid Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 12 Can't Help Falling In Love (Elvis Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 13 I and Love and You (Avett Brothers Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 14 Courtney (Nerf Herder Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 15 A Better Place, A Better Time (Streetlight Manifesto Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 16 Sunshine (Matt Costa Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 17 On The Radio (Regina Spektor Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 18 The Anchor (Stray Bullets Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 19 Say Yes (Elliott Smith).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 20 A Bird's Song (Ingrid Michaelson Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 21 Rocky Raccoon (Beatles Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 22 I Will Follow You Into The Dark (Death Cab For Cutie Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 23 Lua (Bright Eyes Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 24 Journey To The End of the East Bay (Rancid Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 25 Linger For A While (Dan Zanes Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 26 Science Fiction Double Feature (Rocky Horror Picture Show Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 27 Landlocked Blues (Bright Eyes Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 28 Little Boxes (Malvina Reynolds Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 29 Birds Sing (Refreshments Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 30 The Bends (Radiohead Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 31 A Satisfied Mind (Johnny Cash Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 32 Hindsight (Original).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 33 Adventure Time Theme Song (Adventure Time Theme Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 34 On and On and On (Streetlight Manifesto Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 35 Bad Scene, Everyone's Fault (Jawbreaker Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 36 13 Stitches (NOFX Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 37 Soulshine -ft. Chris Marks- (Allman Brothers Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 38 Pearl Harbor Sucked (Team America World Police Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 39 Santa Fe (Newsies Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 40 Come Sail Away (Styx Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 41 Sound System (Operation Ivy Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 42 Ghost of Corporate Future (Regina Spektor Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 43 Radio (Rancid Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 44 Have You Ever Seen The Rain (CCR Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 45 Know It All (Lagwagon Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 46 She's Automatic (Rancid Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 47 San Dimas High School Football Rules (The Ataris Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 48 First Day Of My Life (Bright Eyes Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 49 Oh, Boy! (Buddy Holly Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 50 Linoleum (NOFX Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 51 Anyone Can Play Guitar (Radiohead Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 52 The Big Sleep (Streetlight Manifesto Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 53 Lump (Presidents of the United States of America Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 54 Sloop John B (Beach Boys Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 55 No Surprises (Radiohead Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 56 I Don't Wanna Grow Up (Ramones Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 57 Hotel Yorba (White Stripes Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 58 Suspect Device (Stiff Little Fingers Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 59 Wonderwall (Oasis Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 60 When I Come Around (Green Day Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 61 Champs-Élysées (Joe Dassin Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 62 Don't Drag Me Down (Social Distortion Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 63 Don't Pray On Me (Bad Religion Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 64 Mr. Wilmington (Lucky Boys Confusion Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 65 The Ballad of Serenity (Firefly Theme Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 66 Anthem (Phantom Planet Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 67 Yellow Submarine (Beatles Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 68 Romeo And Juliet (Dire Straits Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 69 The Battle of Evermore (Led Zeppelin Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 70 The Underdog (Spoon Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 71 Just Like Heaven (The Cure Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 72 Heaven (Warrant Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 73 Two Suns In The Sunset (Pink Floyd Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 74 Ruby Soho (Rancid Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 75 Gummi Bears Theme Song (Gummi Bears Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 76 Basket Case (Green Day Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 77 Glycerine (Bush Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 78 Edelweiss (Sound Of Music Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 79 Can You Feel The Love Tonight (Lion King Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 80 I Want To Hold Your Hand (Beatles Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 81 Que Sera Sera (Doris Day Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 82 The Parting Glass (Traditional).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 83 Big Machine (Ryan Miller Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 84 Jacket (Nerf Herder Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 85 Somewhere In The Between (Streetlight Manifesto Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 86 Maxwell Murders (Rancid Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 87 The 11th Hour (Rancid Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 88 Roots Radicals (Rancid Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 89 Blister In The Sun (Violent Femmes).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 90 I Bet My Life (Imagine Dragons Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 91 Don't Look Back In Anger (Oasis Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 92 Littlest Birds (The Be Good Tanyas Covers).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 93 Salvation (Rancid Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 94 Long Time Gone (Tim O'Brien and Darrell Scott Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 95 New Orleans (Rancid Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 96 Skyscraper (Bad Religion Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 97 The Gates -ft. Kaitie Tardie- (Menzingers Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 98 Nobody Knows Me At All -ft. Kaitie Tardie- (The Weepies Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 99 All Alone (Hippos Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 100 Tail Lights (The Butler Pick Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 101 Avoiding Catatonic Surrender (Tim Barry Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 102 Beauty and the Beast (Beauty and the Beast Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 103 Still Alive (Jonathan Coulton Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 104 Vampires Are Poseurs (Song For The Living) (Pat The Bunny Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 105 The Gunner's Dream (Pink Floyd Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 106 What Would Brian Boitano Do- (South Park Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 107 Critical Hit (Ghost Mice Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 108 Ukulele Anthem (Amanda Palmer Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 109 Survival (AJJ Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 110 Rejoice (AJJ Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 111 From Here To Utopia (Song For The Desperate) (Pat The Bunny Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 112 Make Total Destroy (Pat The Bunny Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 113 For A Girl In Rhinelander, WI (Wingnut Dishwashers Union Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 114 I Want You To Want Me (Cheap Trick Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 115 A Skeptic's Love Song (Just Nick Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 116 A Moment Of Silence (Streetlight Manifesto Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 117 Knowledge (Operation Ivy Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 118 The Littlest Things (Streetlight Manifesto Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 119 Down Together (Refreshments Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 120 People ii - The Reckoning (AJJ Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 121 Fuck Shit Up! (Whanananananana) (Wingnut Dishwashers Union Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 122 Antennas (Rancid Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 123 Your Heart Is A Muscle The Size Of Your Fist (Pat The Bunny Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 124 Songs About Girls (Just Nick Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 125 Whiskey Is My Kind Of Lullaby (Johnny Hobo and the Freight Trains Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 126 Wildflowers (Tom Petty Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 127 Oi To The World (Vandals Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 128 Merry Christmas (I Don't Want To Fight Tonight) (Ramones Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 129 Road To Joy (Bright Eyes Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 130 Indestructible (Rancid Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 131 Interstate (Refreshments Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 132 Boxcar (Jawbreaker Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 133 I Still Believe (Frank Turner Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 134 Long Live The Queen (Frank Turner Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 135 Time After Time (Cyndi Lauper Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 136 Howl (Walter Mitty and His Makeshift Orchestra Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 137 Otterpops In The Icebox (Walter Mitty and His Makeshift Orchestra Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 138 I'm Going Home (Pat The Bunny Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 139 This Year (The Mountain Goats Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 140 Love, Ire, And Song (Frank Turner Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 141 Oh, Charlatan Me (Walter Mitty And His Makeshift Orchestra Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 142 The Obituaries (Menzingers Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 143 Baby Got Back (Sir Mix-A-Lot Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 144 Man Out Of Time (Original).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 145 Where Do We Go From Here (Brian Jipson & Adam Murphy).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 146 Bones (Original).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 147 Violins (Lagwagon Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 148 Blank Space (Taylor Swift Cover).mp3
AudioMP3/Brian Jipson - Inhale Courage-Exhale Fear - 149 Samson (Regina Spektor Cover).mp3
